<ion-view hide-nav-bar="true" view-title="Chats" >
    <!-- <ion-nav-buttons side="primary">
      <button class="button button-clear button-positive" ng-click="showProfilePopup()">
        <i class="icon ion-person"></i> Profile 
      </button>
    </ion-nav-buttons> -->

  <ion-content style="background: url('img/HomeBg.png') no-repeat;  background-size: cover;" scroll="false" hide-tabs='true'>
      <img src="img/SettingsBtn.png" class="home-help-buttons" ng-click="showProfilePopup()" style="width:30px; position:absolute; top:13px; left:13px;">
      <img src="img/InfoBtn.png" class="home-help-buttons" ng-click="info()" style="width:30px; position:absolute; top:13px; right:13px;">

    <div style="margin-top:80px;">
      <img src="img/FindBtn.png" ng-click="findspot()" style="width:30%; display:block; margin:auto;">
      <h4 style="text-align:center;">Find</h4>
    </div>
    <div>
      <img src="img/PostBtn.png" ng-click="postSpot()" style="width:30%; display:block; margin:auto;">
      <h4 style="text-align:center;">Post</h4>
    </div>
    

    <div style="margin-top:90px;">
      <img src="img/InviteBtn.png" ng-click="invite()" style="width:30%; display:block; margin:auto;">
    </div>
    
    <!-- <button style="margin-left:auto;margin-top: 20px; margin-right:auto; display:block;" ng-click="findspot()" class="button button-positive"> -->
      <!-- Find -->
    <!-- </button> -->
   <!--  <br>
    <button style="margin-left:auto;margin-top: 20px; margin-right:auto; display:block;" ng-click="postSpot()" class="button button-calm">
      Post
    </button> -->

    <div ng-show="offline" class="card" style="position:absolute; bottom:20px; right:0; left:0; margin:auto; text-align:center;">
      <div class="item item-text-wrap" style="color:red;">
        Your device is offline
      </div>
    </div>
    <!-- <map-window post="true" externalScope="externalScope"></map-window> -->
  </ion-content>
 </ion-view>
