<ion-view view-title="Chats" >
    <ion-nav-buttons side="primary">
      <button class="button button-clear button-positive" ng-click="showProfilePopup()">
        <i class="icon ion-person"></i> Profile 
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
      <!-- <button class="button button-clear button-positive" ng-click="openModal()"> -->
        <!-- <i class="icon ion-location"></i> Find chats -->
      <!-- </button> -->
    </ion-nav-buttons>
  <ion-content hide-tabs='true'>
    <button style="margin-left:auto;margin-top: 20px; margin-right:auto; display:block;" ng-click="findspot()" class="button button-positive">
      Find
    </button>
    <br>
    <button style="margin-left:auto;margin-top: 20px; margin-right:auto; display:block;" ng-click="postSpot()" class="button button-calm">
      Post
    </button>

    <div ng-show="offline" class="card" style="position:absolute; bottom:20px; right:0; left:0; margin:auto; text-align:center;">
      <div class="item item-text-wrap" style="color:red;">
        Your device is offline
      </div>
    </div>
    <!-- <map-window post="true" externalScope="externalScope"></map-window> -->
  </ion-content>
 </ion-view>
