<ion-modal-view cache-view="false" ng-controller="ViewmapCtrl">
  
   <ion-nav-bar title="choose area" class="bar-clean">
    <ion-nav-title>
      Choose Area
      <img ng-click="goToAddArea()" src="img/PlusBtn.png" style="width:30px; position:absolute; right:5px; top:15px;">
    </ion-nav-title>
    </ion-nav-bar>

  <ion-content scroll="false" data-tap-disabled="true">

      <ng-map zoom="11" center="[crd.latitude, crd.longitude]" style="height:100%; width: 100%;">
<!--           <shape ng-repeat="area in areas" id="area.$id" name="circle"
          stroke-color='#FF0000' stroke-opacity="0.1" stroke-weight="1"
          center="[area.coords.lng,area.coords.lat]" radius="500" editable="false" >
          </shape> -->
      </ng-map>
  </ion-content>

 <!--  <div class="card" style="position:absolute; top: 15px; right:0; left:0; margin:auto; width:90%; z-index:1000;">
    <div class="item item-icon-left">
       <i class="icon ion-arrow-left-c" ng-hide="areasMode" ng-click="realPower()"></i>
        {{spot.formatted_address}} {{crd.latitude}}
    </div>
  </div> -->
  <!-- <div class="card" style="position:absolute; top: 15px; right:0; left:0; margin:auto; width:90%; z-index:1000;">
    <div class="item item-icon-left">
    	 <i class="icon ion-arrow-left-c" ng-hide="areasMode" ng-click="realPower()"></i>
      	Click area to choose
    </div>
  </div> -->

    <!-- <a ng-click="openModal()" style="font-size: 52px !important;line-height: 52px !important; z-index:1000;">
      <img style="position:absolute;top:0; left: 0; right:0; bottom:0; margin:auto;" width="50px" src="img/pin.png">
    </a> -->
 </ion-modal-view>